<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>926709666866-27son11p1rq7ie6dbiaped79fkt90g75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926709666866-27son11p1rq7ie6dbiaped79fkt90g75</string>
	<key>API_KEY</key>
	<string>AIzaSyABttG2VRf-81eSFSSEwvlYFcIixeXSs6o</string>
	<key>GCM_SENDER_ID</key>
	<string>926709666866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nearsoft.HomeApp</string>
	<key>PROJECT_ID</key>
	<string>homeapp-7c0fb</string>
	<key>STORAGE_BUCKET</key>
	<string>homeapp-7c0fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:926709666866:ios:8704bb8271c891b8</string>
	<key>DATABASE_URL</key>
	<string>https://homeapp-7c0fb.firebaseio.com</string>
</dict>
</plist>